.hero-image {

	min-height:30%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/*Targets search dropdown in header*/
.form-control.col-sm-2 {
	height: auto !important;
}

body.index {
	margin: 0;
	padding: 0;
	height: 100%;
}

.displaybox {
	background-color: rgb(120, 120, 120);
	border: 1px solid black;
	margin: 10px;
	opacity: 60%;
	position: relative;
	left: 10px;
}

.displaybox > h3 {
	text-align: center;
	font-weight: bold;
	color: white;
	padding: 10px;
}

.displaybox > p {
	text-align: center;
	padding: 10px;
	font-size: 2rem;

}


.printTableItem {
	background-color: rgb(200, 200, 200);
	border: 1px solid black;
}

h3.content-title {
	text-align: center;
	margin: 10px;
}

.successChart {
	margin: 0 auto;
}